# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Pytest
.pytest_cache/
test-results/
playwright-report/

# Allure
allure-results/
allure-report/

# IDE
.idea/
.vscode/

# OS
.DS_Store
